.gradle
viikko2/tehtavat1-4/.gradle
viikko2/tehtavat1-4/build
/viikko3/tehtava7/WebLogin/build/
/viikko4/tehtava2/MaksukorttiMockito/build/
/viikko4/tehtava3/Verkkokauppa/build/
/viikko4/tehtava5/IntJoukkoSovellus/build/
/viikko4/tehtava6/Tennis/build/
/viikko6/QueryLanguage/build/